{% load static %}

{% block content %}

{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <title>Tipos de Productos</title>
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body>
    {% include 'index.html' %}
    <h1>Tipos de Categorias</h1>
    <div class="container">
        <table>
            <tr>
                <th>Categoria</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
            {% for tipo in tipos_productos %}
                <tr>
                    <td>{{ tipo.nombre }}</td>
                    <td>
                        <a href="{% url 'modificar_tipo_producto' tipo.id %}">🖊️</a>
                    </td>
                    <td>
                        <form id="eliminarForm" method="POST" action="{% url 'eliminar_tipo_producto' tipo.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="tipo_id" value="{{ tipo.id }}">
                            <a href="#" onclick="eliminarCategoria(event)">🗑</a>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        function eliminarCategoria(event) {
            event.preventDefault();
            let confirmacion = confirm("¿Estás seguro de que deseas eliminar esta categoria?");
            if (confirmacion) {
                document.getElementById('eliminarForm').submit();
            }
        }
    </script>
</body>
</html>
